.deploy-tremplin-api-k8s:
  image:
    name: $CI_REGISTRY/$IMAGE_INFRA_BASE_NAME/docker-kube:latest
    entrypoint: [""]
  before_script:
  - HASH_BRANCH_NAME=$(printf "$CI_COMMIT_REF_NAME" | sha1sum | cut -c1-5)
  - export HASH_BRANCH_INGRESS=$HASH_BRANCH_NAME-
  - export HASH_BRANCH_NAME=-$HASH_BRANCH_NAME
  - /apps/create-kubeconfig.sh
  - envsubst < k8s/tremplin-api/deployment-tremplin-api.yml > k8s/tremplin-api/deployment-api.yml
  - envsubst < k8s/tremplin-api/service-tremplin-api.yml > k8s/tremplin-api/service-api.yml
  - envsubst < k8s/tremplin-api/ingress-tremplin-api.yml > k8s/tremplin-api/ingress-api.yml
  script:
  - kubectl apply -f k8s/tremplin-api/deployment-api.yml
  - kubectl apply -f k8s/tremplin-api/service-api.yml
  - kubectl apply -f k8s/tremplin-api/ingress-api.yml
  - echo "Tremplin api available at - http://"$HASH_BRANCH_INGRESS"tremplin-api.dev.factory.social.gouv.fr"
  allow_failure: false

.deploy-tremplin-api-prod-k8s:
  image:
    name: $CI_REGISTRY/$IMAGE_INFRA_BASE_NAME/docker-kube:latest
    entrypoint: [""]
  before_script:
  - /apps/create-kubeconfig.sh
  - envsubst < k8s/tremplin-api/deployment-tremplin-api.yml > k8s/tremplin-api/deployment-api.yml
  - envsubst < k8s/tremplin-api/service-tremplin-api.yml > k8s/tremplin-api/service-api.yml
  - envsubst < k8s/tremplin-api/ingress-tremplin-api.yml > k8s/tremplin-api/ingress-api.yml
  script:
  - kubectl apply -f k8s/tremplin-api/deployment-api.yml
  - kubectl apply -f k8s/tremplin-api/service-api.yml
  - kubectl apply -f k8s/tremplin-api/ingress-api.yml
  - echo "Tremplin api available at - http://tremplin-api.ops.factory.social.gouv.fr"
  allow_failure: false
